[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = giacolees
	email = {{ if hasKey . "email" }}{{ .email }}{{ else }}your-email@example.com{{ end }}
